body
{
	background-color:rgb(0,0,0);
	color:rgb(215,50,50);
	font-family:monospace;
}

#title
{
	font-size:4em;
	text-align:right;
	text-spacing:8em;
	margin-right:10%;
	font-weight:bold;
	font-family:serif;
	margin-bottom:2%;
	color:rgb(215,30,30);
}

#author
{
	text-align:right;
	font-size:1.7em;
	margin-bottom:3.5%;
	margin-right:10%;
	font-style:italic;
}

p.content
{
	text-align:justify;
	font-size:1.7em;
	font-weight:bold;
	text-indent:5em;
	line-height:1.8em;
	margin-left:5%;
	margin-right:10%;
}

p.sectionend
{
	font-size:5em;
	text-align:center;
}

p.chapterhead
{
	text-align:left;
	font-size:2.65em;
	letter-spacing:0.30em;
	margin-bottom:4%;
	color:rgb(215,30,30);
	margin-left:5%;
	margin-right:10%;
	font-family:serif;
	border-bottom:2px;
	border-bottom-style:solid;
	padding-bottom:0.4%;
	margin-top:4%;
}

p.chapterlink
{
	font-size:1.6em;
	text-align:right;
	margin-right:10%;
}

p.endofchapter
{
	text-align:center;
	font-size:5em;
	font-family:serif;
	color:rgb(255,30,30);
	font-weight:bold;
	letter-spacing:0.43em;
	border:3px;
	border-style:solid;
	padding:2%;
	margin-left:5%;
	margin-right:10%;
	padding-top:3%;
}

p.sectionlink
{
	text-align:right;
	color:rgb(215,30,30);
	margin-right:10%;
	font-size:1.6em;
}

div.sectionlink
{
	margin-top:2%;
}

a
{
	text-decoration:none;
	color:rgb(215,30,30);
	padding:0.5%;
}

a:hover
{
	border:1px;
	border-style:solid;
}

a:visited
{
	font-style:underline;
}
