@mainfont
{
	font-family:longwalk;
	src:url("IBMPlexMono-Regular.otf");
}

@mainfont2
{
	font-family:longwalk2;
	src:url("NotoSans-Black.ttf");
}

body
{
	background-color:rgb(0,0,0);
	color:rgb(215,50,50);
	font-family:longwalk2;
	
}

p.content
{
	text-align:justify;
	font-size:1.5em;
	text-indent:5em;
	line-height:1.8em;
	margin-left:5%;
	margin-right:10%;
	font-family:longwalk;
}

p.sectionend
{
	font-size:5em;
	text-align:center;
}

p.chapterhead
{
	text-align:left;
	font-size:2.52em;
	letter-spacing:0.30em;
	margin-bottom:4%;
	color:rgb(215,30,30);
	margin-left:5%;
	margin-right:10%;
	border-bottom:2px;
	border-bottom-style:solid;
	padding-bottom:0.4%;
	margin-top:4%;
}

p.chapterlink
{
	font-size:1.6em;
	text-align:right;
	margin-right:10%;
}

p.endofchapter
{
	text-align:center;
	font-size:5em;
	color:rgb(255,30,30);
	font-weight:bold;
	letter-spacing:0.43em;
	border:3px;
	border-style:solid;
	padding:2%;
	margin-left:5%;
	margin-right:10%;
	padding-top:3%;
}

p.sectionlink
{
	text-align:right;
	color:rgb(215,30,30);
	margin-right:10%;
	font-size:1.6em;
}

div.sectionlink
{
	margin-top:2%;
}

a
{
	text-decoration:none;
	color:rgb(215,30,30);
	padding:0.5%;
}

a:hover
{
	border:1px;
	border-style:solid;
}

a:visited
{
	font-style:underline;
}

a:hover.titlepic
{
	border-style:none;
}

a:hover.endofchapter
{
	border-style:none;
}

table.chapterheading
{
	table-layout:fixed;
	width:85%;
	height:25%;
	margin-left:5%;
	padding:0%;
}

td.chapterimage
{
	width:80%;
}

img.chapterimage
{
	display:block;
	margin:0;
	padding:0;
	width:100%;
	height:auto;
}

p.titlepic
{
	margin-left:5%;
	margin-right:5%;
	padding:0;
	text-align:center;
}

img.titlepic
{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:30%;
	height:70%;
}
